name: Build and Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Log in to Azure
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Log in to ACR
      run: |
        echo ${{ secrets.ACR_PASSWORD }} | docker login ${{ secrets.ACR_LOGIN_SERVER }} \
        --username ${{ secrets.ACR_USERNAME }} --password-stdin

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/lkreviews-container-app:${{ Latest }} ./app

    - name: Push Docker image
      run: |
        docker push ${{ secrets.ACR_LOGIN_SERVER }}/lkreviews-container-app:${{ Latest }}

    - name: Deploy to Azure Web App
      run: |
        az webapp config container set \
          --name lkreviews-container-app \
          --resource-group Lk_res \
          --docker-custom-image-name ${{ secrets.ACR_LOGIN_SERVER }}/lkreviews-container-app:${{ Latest }} \
          --docker-registry-server-url https://${{ secrets.ACR_LOGIN_SERVER }}
